<section class="landing-section-css">

    <div class="container-fluid main-content-container">
        <div class="row">
            <div class="col-sm-12 wrapper-container">
                <h3 class="title-css">KM Gen AI Lab</h3>
                <h5 class="mb-8">The complete solution to centralise knowledge management.</h5>
                <h6 class="mb-8">Let's Get Started !</h6>
                <div class="card-container">
                    <div class="card">
                        <a routerLink="/upload">
                            <div class="text-end"><i class="bi bi-cloud-upload"></i></div>
                            <div>I can help you curate a document.</div>
                        </a>
                    </div>


                    <div class="card">
                        <a routerLink="/documents">
                            <div class="text-end"><i class="bi bi-eye"></i></div>
                            <div>I can help you look at your existing knowledge assets.</div>
                        </a>
                    </div>

                    <div class="card">
                        <a routerLink="/chatbot">
                            <div class="text-end"><i class="bi bi-file-earmark"></i></div>
                            <div>I can help you with version comparison.</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>